* {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/ocean.avif);
}
